script(src='/static/lib/jsapi.js')
script(src='/static/lib/jquery.js')
script(src='/static/lib/less.js')
script(src='/static/lib/underscore.js')
script(src='/static/lib/backbone.js')
script(src='/socket.io/socket.io.js')
script(type='text/javascript')
	if (window.google) { google.load("swfobject", "2.1"); google.load("feeds", "1"); }