script(src='/static/lib/jsapi.js')
script(src='/static/lib/jquery.js')
script(src='/static/lib/less.js')
script(src='/static/lib/underscore.js')
script(src='/static/lib/backbone.js')
script(src='/socket.io/socket.io.js')
script(type='text/javascript')
	if (window.google) { google.load("swfobject", "2.1"); google.load("feeds", "1"); }

script(src='/static/lib/webrtc.io.js')
script(src='/static/utils.js')		

script(src='/static/models.js')
script(src='/static/api.js')
script(src='/static/chat.js')
script(src='/static/room.js')
script(src='/static/playlist.js')
script(src='/static/player.js')
script(src='/static/prefs.js')
script(src='/static/userlist.js')
script(src='/static/login.js')
script(src='/static/cams.js')
script(src='/static/ticker.js')