script(src='/static/lib/jsapi.js')
script(src='/static/lib/jquery.js')
script(src='/static/lib/less.js')
script(src='/static/lib/underscore.js')
script(src='/static/lib/backbone.js')
script(src='/socket.io/socket.io.js')
script(type='text/javascript')
	if (window.google) { google.load("swfobject", "2.1"); google.load("feeds", "1"); }

script(src='//s.equestria.tv/static/lib/webrtc.io.js')
script(src='//s.equestria.tv/static/utils.js')		

script(src='//s.equestria.tv/static/models.js')
script(src='//s.equestria.tv/static/api.js')
script(src='//s.equestria.tv/static/chat.js')
script(src='//s.equestria.tv/static/room.js')
script(src='//s.equestria.tv/static/playlist.js')
script(src='//s.equestria.tv/static/player.js')
script(src='//s.equestria.tv/static/prefs.js')
script(src='//s.equestria.tv/static/userlist.js')
script(src='//s.equestria.tv/static/login.js')
script(src='//s.equestria.tv/static/cams.js')
script(src='//s.equestria.tv/static/ticker.js')