doctype 5
html
	head
		title Lunatube
		script(src='static/colors.js')
		link(rel='stylesheet/less', type='text/css', href='static/room.less')
		script(src='static/lib/less.js')
		script(src='static/lib/jquery.js')
		script(src='static/lib/underscore.js')
		script(src='static/lib/backbone.js')
		script(src='/socket.io/socket.io.js')
		script(src='http://www.google.com/jsapi')
		script(type='text/javascript')
			if (window.google) {
				google.load("swfobject", "2.1");
				google.load("feeds", "1");

			}
		
		script(src='static/utils.js')
		script(type='text/javascript')
			add_globals({
				room: !{room},
				user: !{user}
			});
		script(src='static/lib/webrtc.io.js')

		script(src='static/all.js')

	templates
		script#avatar(type='template')
		script#image_msg(type='template')
			#message
				#avatar.avatar
					img(src='[[avatar]]')
				#text
					b#username [[username]]
					#content
						a(href="[[url]]",target="_blank")
							img#image_thumb(src='[[thumb]]')
		script#video_msg(type='template')
			#message
				#avatar.avatar
					img(src='[[avatar]]')
				#text
					b#username [[username]]
					a(href="[[url]]",target="_blank")
						#content
							#video_thumb
								img#thumb(src='[[thumb]]')
							#info
								#title
									b [[title]]
								#uploader [[uploader]]
								#time [[time_text]]
					#actions
						#play.button > play
						#queue.button + queue
						#playlist.button + playlist
		script#video(type='template')
			#video
				#static
					#thumbnail
						img#thumb(src='[[thumb]]')
					#info
						#title [[title]]
						#uploader [[uploader]]
						#time [[time_text]]
				#actions
					#delete delete
					#open goto
		script#message(type='template')
			#message
				#avatar.avatar
					img(src='[[avatar]]')
				#text
					b#username [[username]]
					#content [[content]]
		script#user(type='template')
			#user
				#avatar
					img(src="[[avatar]]")
				#username [[username]]
				#hide.button hide
				#mute.button mute
				#mod.button mod
		script#cam(type='template')
			video#cam(autoplay)
	body
		#prefs(style="display:none")
		#login
			#lunatube
				div lunatube.tv
				#subtitle beta
			#themes.button.themes themes
			#themes.button.status 
				a(href="http://lunatube.tumblr.com/",target="_blank") beta status
			#themes.button.party
				a(href="http://lunatube.tumblr.com/post/35318515630/stream-url-http-lunatube-tv-sauce-corp-will",target="_blank") friday nov 9th beta party
			#fields
				input#unfield(maxlength="32")
				input#password(type="password",maxlength="32")
				#login_button.button login
				#reg_button.button register
			#status
				#avatar
					img
				#username.button
		#ticker
			#ttitle Equestria Daily \\
			#inner
				a
					#text
			#hide hide
		#main
			#cams
			#top
				#theater
					#player
						#invisible
							#overlay
							#vid_title Now Playing: 
							#controls
								#play pause
								#scrobbler
									#playhead
									#ph_time
								#next next
									#next_vid.next_vid
								#volume
									#vol vol
									#volume_slider
									#max max
									#mute mute
						#youtube
							#placeholder Problem loading Youtube API player
				#chatroom
					#header
						#name Chat
						#user.hbutton 0 Users
						#cam.hbutton Cams
					#users
					#messages
					#mouth
						#avatar.avatar
							img
						#input
							input(type="text",maxlength="512")
			#catalog
				#headers
					#left
						#queue.section 
							#text Queue
							#count
						#playlist.section
							#text Playlist
							#count
					#right
						#add.section 
							#btn Add
						#import.section
							#btn Import
						#clear.section Clear
				#videos