doctype 5
html
	head
		title Lunatube - !{JSON.parse(room).owner.username}'s room
		link(rel='stylesheet/less', type='text/css', href='static/room.less')
		script(src='static/lib/less.js')
		script(src='static/lib/jquery.js')
		script(src='static/lib/underscore.js')
		script(src='static/lib/backbone.js')
		script(src='/socket.io/socket.io.js')
		script(src='http://www.google.com/jsapi')
		script(type='text/javascript')
			if (window.google)
				google.load("swfobject", "2.1");
		
		script(src='static/utils.js')
		script(type='text/javascript')
			add_globals({
				room: !{room},
				user: !{user}
			});
		script(src='static/models.js')
		script(src='static/api.js')
		script(src='static/chat.js')
		script(src='static/room.js')
		script(src='static/playlist.js')
		script(src='static/player.js')
		script(src='static/userlist.js')
		script(src='static/login.js')

	templates
		script#avatar(type='template')
		script#image_msg(type='template')
			#message
				#avatar.avatar
					img(src='[[avatar]]')
				#text
					b#username [[username]]
					#content
						a(href="[[url]]",target="_blank")
							img#image_thumb(src='[[thumb]]')
		script#video_msg(type='template')
			#message
				#avatar.avatar
					img(src='[[avatar]]')
				#text
					b#username [[username]]
					a(href="[[url]]",target="_blank")
						#content
							#video_thumb
								img#thumb(src='[[thumb]]')
							#info
								#title
									b [[title]]
								#uploader [[uploader]]
								#time [[time_text]]
					#actions
						#play.button > play
						#queue.button + queue
						#playlist.button + playlist
		script#video(type='template')
			#video
				#thumbnail
					img#thumb(src='[[thumb]]')
				#info
					#title [[title]]
					#uploader [[uploader]]
					#time [[time_text]]
		script#message(type='template')
			#message
				#avatar.avatar
					img(src='[[avatar]]')
				#text
					b#username [[username]]
					#content [[content]]
		script#user(type='template')
			#user
				#avatar
					img(src="[[avatar]]")
				#username [[username]]

	body
		#login
			#fields
				input#unfield
				input#password(type="password")
				#login_button.button login
				#reg_button.button register
			#status
				#avatar
					img
				#username.button
		#main
			#top
				#theater
					#player
						#invisible
							#overlay
							#vid_title Now Playing: 
							#controls
								#play pause
								#scrobbler
									#playhead
									#ph_time
								#next next
									#next_vid.next_vid
								#volume
									#vol vol
									#volume_slider
									#max max
									#mute mute
						#youtube
							#placeholder Problem loading Youtube API player
				#chatroom
					#header
						#name Chat
						#button 0 Users
					#users
					#messages
					#mouth
						#avatar.avatar
							img
						#input
							input(type="text")
			#catalog
				#queue
					.header Queue
					#videos
						#placeholder No videos in queue.
				#playlist
					.header Playlist
					#videos
						#placeholder No videos in playlist.
			#bottom
				div Lunatube Copyright 
					a(href="http://twitter.com/itwasundere") ItWasUnderE
				div Open-source code hosted at 
					a(href="http://github.com/itwasundere/lunatube") Github