doctype 5
html
	head
		title Lunatube - !{JSON.parse(room).owner.username}'s room
		link(rel='stylesheet/less', type='text/css', href='static/room.less')
		script(src='static/lib/less.js')
		script(src='static/lib/jquery.js')
		script(src='static/lib/underscore.js')
		script(src='static/lib/backbone.js')
		script(src='/socket.io/socket.io.js')
		script(src='http://www.google.com/jsapi')
		script(type='text/javascript')
			if (window.google)
				google.load("swfobject", "2.1");
		
		script(src='static/utils.js')
		script(type='text/javascript')
			add_globals({
				room: !{room},
				user: !{user}
			});
		script(src='static/models.js')
		script(src='static/api.js')
		script(src='static/chat.js')
		script(src='static/room.js')
		script(src='static/playlist.js')
		script(src='static/player.js')

	templates
		script#avatar(type='template')
		script#image_msg(type='template')
			#message
				#avatar.avatar
					img(src='[[avatar]]')
				#text
					b#username [[username]]
					#content
						a(href="[[url]]",target="_blank")
							img#image_thumb(src='[[thumb]]')
		script#video_msg(type='template')
			#message
				#avatar.avatar
					img(src='[[avatar]]')
				#text
					b#username [[username]]
					a(href="[[url]]",target="_blank")
						#content
							#video_thumb
								img#thumb(src='[[thumb]]')
							#info
								#title
									b [[title]]
								#uploader [[uploader]]
								#time [[time_text]]
					#actions
						#play.button > play
						#queue.button + queue
						#playlist.button + playlist
		script#video(type='template')
			#video
				#thumbnail
					img#thumb(src='[[thumb]]')
				#info
					#title
						b [[title]]
					#uploader [[uploader]]
					#time [[time_text]]
		script#message(type='template')
			#message
				#avatar.avatar
					img(src='[[avatar]]')
				#text
					b#username [[username]]
					#content [[content]]

	body
		#login
			input#username
			input#password
			input#login_button(type='button', value='login')
		
		#main
			#top
				#theater
					#banner !{JSON.parse(room).owner.username}'s room
					#player
						#overlay
						#youtube
							#placeholder Problem loading Youtube API player
					#controls
						#volume
							input(type='range',id='vol',min='1',max='100')
						#play
							img(src='/static/img/play.png')
						#scrobbler
							#playhead
					#prevnext
						#prev
							.header Previously
							#video
						#next
							.header Up next
							#video
				#chatroom
					#userlist
					#messages
					#mouth
						#avatar.avatar
							img
						#input
							input(type="text")
			#catalog
				#queue
					.header Queue
					#videos
						#placeholder No videos in queue.
				#playlist
					.header Playlist
					#videos
						#placeholder No videos in playlist.
			#bottom
				div Lunatube Copyright 
					a(href="http://twitter.com/itwasundere") ItWasUnderE
				div Open-source code hosted at 
					a(href="http://github.com/itwasundere/lunatube") Github