@luna_dark: rgb(0, 19, 80);
@luna_clear: rgba(82, 92, 167, 0.79);
@luna_light: #497999;
@luna_black: black;
@luna_white: white;

@main_width: 1024px;
@vid_width: 640px;
@total_margin: 24px;
@margin: @total_margin / 2;
@small_margin: @margin * 0.75;
@avatar_size: 32px;
@font_size: 12px;
@chat_height: 400px;
@rounding: 8px;

@chat_width: @main_width - @vid_width - @total_margin * 1.5;

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div { overflow: auto; word-wrap: break-word;}
.header { font-size: 18px; }
input[type=text] {
	margin: 0;
	padding: 0;
	border: 0;
	font: arial;
	font-size:  @font_size;
	outline: none;
}

body {
	background-color: @luna_dark;
	font-family: arial;
	font-size: @font_size;
	cursor: default;
	padding: 0px;
	margin: 0px;
}

#login {
	background-color: @luna_clear;
	width: @main_width;
	padding: @margin;
	margin: 0 auto;
	margin-bottom: @total_margin;
	text-align: right;
	border-radius: 0 0 @rounding @rounding;
}

#main {
	background-color: @luna_clear;
	width: @main_width;
	padding: @margin;
	margin: 0 auto;
	border-radius: @rounding @rounding 0 0;
}

#theater {
	.no-select;
	width: @vid_width;
	margin: 0 @margin;
	float: left;
}

#banner {
	background-color: @luna_white;
	border-radius: @rounding @rounding 0 0;
	font-size: 24px;
	min-height: 12px;
	margin: @margin 0;
	margin-bottom: 0;
	padding: @margin;
}

#player {
	background-color: @luna_white;
	width: @vid_width;
	height: @vid_width / 16 * 9;
	overflow: hidden;
	#overlay {
		width: @vid_width;
		height: @vid_width / 16 * 9;
		opacity: 0;
		position: absolute;
	}
	#youtube {
		width: 100%;
		height: 100%;
		#placeholder {
			text-align: center;
			margin: 100px auto;
			font-size: 18px;
		}
	}
}

#controls {
	background-color: @luna_white;
	margin: @margin 0px;
	padding-left: 20px;
	margin-top: 0px;
	border-radius: 0 0 @rounding @rounding;
	#volume, #play, #scrobbler {
		float: left;
		margin: 17px;
		height: 18px;
		overflow: hidden;
		input { width: 100px; margin: 3px 0px 0px 0px; }
		img { height: 18px; }
	}
	#play, #scrobbler {
		cursor: pointer;
	}
	#scrobbler {
		background-color: @luna_black;
		height: 18px;
		width: 250px;
		margin-left: 10px;
		#playhead {
			width: 6px;
			height: 100%;
			background-color: @luna_white;
			pointer-events: none;
		}
	}
}

@prevnext_video_width: 280px;
img { border-radius: 5px; }

#video {
	border-radius: 5px;
}

#prevnext {
	background-color: @luna_white;
	margin: @margin 0px;
	padding: @margin;
	border-radius: @rounding;
	#prev, #next {
		float: left;
		width: 50%;
	}
	#video {
		float: left;
		width: @prevnext_video_width - @margin / 2;
		height: @video_height - @margin / 22;
		overflow: hidden;
		margin: @margin / 2;
		#thumbnail {
			float: left;
			width: @thumb_width;
			margin: @margin;
			img { width: 100%; }
		}
		#info {
			float: left;
			margin: @margin;
			margin-left: 0;
			width: @prevnext_video_width - @thumb_width - @margin * 6;
		}
	}
}

@input_width: @chat_width - @avatar_size - 3*@small_margin - 20;
@input_margin: (@avatar_size - 18px)/2;

#chatroom {
	float: left;
	margin: @margin 0px;
	width: @chat_width;
	.avatar { 
		overflow: hidden;
		margin: @small_margin;
		float: left;
		width: @avatar_size;
		height: @avatar_size;
		background-color: @luna_clear;
		img {
			width: @avatar_size;
			height: @avatar_size;
		}
	}
	#messages {
		height: @chat_height;
		background-color: @luna_white;
		padding-top: @small_margin;
		#message {
			padding-top: -@small_margin;
			width: @chat_width - 20;
		}
		#text {
			margin: @small_margin;
			margin-left: 0;
		}
		#image_thumb {
			max-width: @input_width;
			margin-top: @small_margin;
			max-height: @input_width;
		}
		#video_thumb {
			float: left;
			margin: @small_margin;
			margin-left: 0px;
			width: @input_width * 0.40 - @margin*1.5;
			img { width: @input_width * 0.40- @margin*1.5 }
		}
		#info {
			float: left;
			margin: @small_margin;
			margin-left: 0px;
			width: @input_width * 0.60 - @margin;
		}
		.button {
			background-color: #DDD;
			padding: 4px 10px;
			float: left;
			border: 1px solid #CCC;
			margin-right: @small_margin;
			cursor: pointer;
		}
	}
	#mouth {
		background-color: @luna_dark;
		#input {
			margin: @small_margin;
			width: @input_width;
			input[type=text] { 
				width: @input_width - @input_margin * 2;
				height: @avatar_size - @input_margin * 2;
				padding: @input_margin;
			}
		}
	}
}

@video_width: 318px;
@thumb_width: 80px;
@video_height: @thumb_width * 3 / 4 + @margin * 2;

.selected { background-color: @luna_clear; }
.hover { background-color: @luna_clear; }

#video {
	float: left;
	width: @video_width - @margin / 2;
	height: @video_height - @margin / 22;
	overflow: hidden;
	margin: @margin / 2;
	#thumbnail {
		float: left;
		width: @thumb_width;
		margin: @margin;
		img { width: 100%; }
	}
	#info {
		float: left;
		margin: @margin;
		margin-left: 0;
		width: @video_width - @thumb_width - @margin * 6;
	}
}

#catalog {
	background-color: @luna_white;
	margin: 0 @margin;
	margin-top: 0px;
	padding: @margin;
	float: default;
	border-radius: @rounding;
	.no-select;
	.header {
		padding: 10px;
		margin-left: 6px;
		cursor: pointer;
	}
	.header:hover {
		background-color: @luna_clear;
	}
	#videos {
		margin-top: 10px;
	}
}

#menu {
	border: 1px solid #ccc;
	background-color: white;
	.menuitem {
		width: 150px;
		border: 1px solid #ccc;
		padding: 5px 2px;
		margin: -1;
	}
}

#bottom {
	margin: 40px auto;
	float: none;
	text-align: center;
}