@luna_dark: rgb(0, 19, 80);
@luna_clear: rgba(82, 92, 167, 0.79);
@luna_light: #497999;
@luna_black: black;
@luna_white: white;

@main_width: 1024px;
@total_margin: 24px;
@margin2: @total_margin / 2;
@small_margin: @margin * 0.75;
@avatar_size: 32px;
@font_size: 12px;
@rounding: 8px;

@clear: #668CDE;
@background: #464997;

@chat_width: @main_width - @vid_width - @total_margin * 1.5;

@white: #dddddd;
@width: 1280px;
@dark: #0A0629;
@light: #122E59;
@clear: #668CDE;
@background: #464997;
@black: #222422;

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div { 
	overflow: auto; 
	word-wrap: break-word;
}

.defaults {
	font-size: 14px;
	font-family: helvetica neue, arial;
}

input {
	.defaults;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

body {
	.defaults;
	background-color: @background;
	cursor: default;
	padding: 0px;
	margin: 0px;
	color: @black;
}

@margin: 12px;

#login {
	background-color: @clear;
	width: @width;
	margin: @margin*2 auto;
	margin-top: 0;
	text-align: right;
	#fields {
		margin: 9px;
	}
	#fields input, #fields .button {
		font-size: 16px;
		margin-right: 10px;
		padding: @margin/2 @margin;
		height: 20px;
	}
	#fields input { padding: @margin / 2 }
}

#main {
	width: @width;
	margin: 0 auto;
}

@vid_width: 853px;
@vid_height: 480px;

#theater {
	.no-select;
	width: @vid_width;
	float: left;
}

#player {
	background-color: @clear;
	width: @vid_width;
	height: @vid_height;
	overflow: hidden;
	#overlay {
		width: @vid_width;
		height: @vid_height;
		opacity: 0;
		position: absolute;
		cursor: pointer;
	}
	#youtube {
		width: 100%;
		height: 100%;
		#placeholder {
			text-align: center;
			margin: 100px auto;
		}
	}
}

#controls {
	display: none;
	background-color: @white;
	margin: @margin 0px;
	padding-left: 20px;
	margin-top: 0px;
	border-radius: 0 0 @rounding @rounding;
	#volume, #play, #scrobbler {
		float: left;
		margin: 17px;
		height: 18px;
		overflow: hidden;
		input { width: 100px; margin: 3px 0px 0px 0px; }
		img { height: 18px; }
	}
	#play, #scrobbler {
		cursor: pointer;
	}
	#scrobbler {
		background-color: @luna_black;
		height: 18px;
		width: 250px;
		margin-left: 10px;
		#playhead {
			width: 6px;
			height: 100%;
			background-color: @white;
			pointer-events: none;
		}
	}
}

#prevnext {
	display: none;
	background-color: @white;
	margin: @margin 0px;
	padding: @margin;
	border-radius: @rounding;
	#prev, #next {
		float: left;
		width: 50%;
	}
	#video {
		float: left;
		width: @width / 4;
		height: @video_height - @margin / 22;
		overflow: hidden;
		margin: @margin / 2;
		#thumbnail {
			float: left;
			width: @thumb_width;
			margin: @margin;
			img { width: 100%; }
		}
		#info {
			float: left;
			margin: @margin;
			margin-left: 0;
			width: 280 - @thumb_width - @margin * 6;
		}
	}
}

@chat_height: 352px;
@input_width: @chat_width - @avatar_size - 3*@small_margin - 20;
@input_margin: (@avatar_size - 18px)/2;

.button {
	background-color: @light;
	color: white;
	padding: 4px 10px;
	display: inline-block;
	cursor: pointer;
}
.button:hover {
	background-color: @dark;
}

.avatar { 
	overflow: hidden;
	margin: @small_margin;
	float: left;
	width: @avatar_size;
	height: @avatar_size;
	background-color: @luna_clear;
	img {
		width: @avatar_size;
		height: @avatar_size;
	}
}

@chat_width: @width - @vid_width - @margin*2;

#chatroom {
	float: left;
	margin-left: @margin*2;
	width: @chat_width;
	position: relative;
	#header {
		display: none;
		background-color: #888;
		min-height: 16px;
		#name {
			padding: 16px;
			float: left;
		}
		#button {
			padding: 16px;
			float: right;
			border-left: 1px solid #eee;
			cursor: pointer;
		}
		#button:hover {
			background-color: #aaa;
		}
	}
	#users {
		position: absolute;
		width: @chat_width;
		background-color: grey;
		display: none;
	}
	#user:hover { background-color: #eee; }
	#user {
		#avatar {
			width: 32px;
			height: 32px;
			img { width: 32px; height: 32px; }
			float: left;
			overflow: hidden;
			margin: @margin;
		}
		#username {
			float: left;
			margin: @margin;
			margin-left: 0;
			padding-top: 5px;
			width: @chat_width - 32px - @margin*3;
			overflow: hidden;
		}
	}
	#messages {
		height: @vid_height - 50px;
		background-color: @clear;
		.avatar { margin-top: 16px; }
		#message {
			padding-top: -@small_margin;
			width: @chat_width - 20;
		}
		#text {
			margin: @small_margin;
			margin-left: 0;
			padding: 7px;
			padding-bottom: 10px;
			background-color: @white;
		}
		#image_thumb {
			max-width: @input_width;
			margin-top: @small_margin;
			max-height: @input_width;
		}
		#video_thumb {
			float: left;
			margin: @small_margin;
			margin-left: 0px;
			width: @input_width * 0.40 - @margin*1.5;
			img { width: @input_width * 0.40- @margin*1.5 }
		}
		#info {
			float: left;
			margin: @small_margin;
			margin-left: 0px;
			width: @input_width * 0.60 - @margin*1.5;
		}
	}
	#mouth {
		background-color: @dark;
		#input {
			margin: @small_margin;
			margin-left: 0px;
			width: @chat_width - 59px;
			input[type=text] { 
				height: 18px;
				width: @chat_width - 59px - 14px;
				padding: 7px;
			}
		}
	}
}

@video_width: 318px;
@thumb_width: 80px;
@video_height: @thumb_width * 3 / 4 + @margin * 2;

.selected { background-color: @luna_clear; }
.hover { background-color: @luna_clear; }

#video {
	font-size: 12px; 
	color: @black;
	float: left;
	width: @width / 4;
	height: @video_height - @margin / 22;
	overflow: hidden;
	background-color: @clear;
	border-bottom: 1px solid @dark;
	border-right: 1px solid @light;
	#thumbnail {
		float: left;
		width: @thumb_width;
		margin: @margin;
		img { width: 100%; }
	}
	#info {
		float: left;
		margin: @margin;
		margin-left: 0;
		width: @video_width - @thumb_width - @margin * 6;
	}
	cursor: pointer;
}

#video.selected, #video:hover {
	background-color: @light;
	color: @white;
}

#rules {
	display: none;
	width: @chat_width;
	height: 140px;
	margin: @margin;
	border-radius: @rounding;
	background-color: @white;
	#header {
		margin: @margin;
		font-size: 18px;
	}
	#text {
		margin: @margin;
		margin-top: 0px;
	}
}

#catalog {
	width: @width;
	color: @white;
	background-color: @dark;
	margin: @margin*2 0;
	float: default;
	.no-select;
	#queue, #playlist { overflow: hidden; }
	.header {
		color: @white;
		font-size: 18px;
		padding: 14px;
		cursor: pointer;
	}
	#videos {
		margin-right: -4px;
		background-color: @clear; 
		margin-bottom: -1px; 
	}
}

#menu {
	color: @black;
	border: 1px solid #ccc;
	background-color: @white;
	.menuitem {
		width: 150px;
		border: 1px solid #ccc;
		padding: 5px 2px;
		margin: -1;
	}
}

#bottom {
	margin: 40px auto;
	float: none;
	text-align: center;
}